<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="zamtrack.db.conn" connectionString="Data Source=MARCUS-PC\SQLEXPRESS;Initial Catalog=ZamTrackGps;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>
