<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gmt.offset" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="zamtrack.db.conn" connectionString="Password=Lembani5p;Persist Security Info=True;User ID=sa;Initial Catalog=Zamtrackgps;Data Source=46.252.195.163"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Infor.Zainco.ZamTrack.Rss.Feed1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Infor.Zainco.ZamTrack.Rss/" />
          </baseAddresses>
        </host>
        <endpoint contract="Infor.Zainco.ZamTrack.Rss.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="Infor.Zainco.ZamTrack.Rss.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Infor.Zainco.ZamTrack.Rss.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
